/* edit test push from macbook  */

.button-control {
    background-color: #ffcc00;
    color: #000;
    border-style: none;
    padding: 5px 5px;
    width:35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 10px #ccc;
    transition: .3s ease-in-out;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color:#C8E6C9;
 }
 .table th {
    background-color: #02838F; /* Replace with your preferred header background color */
    color: #fff; /* Set the text color for better contrast */
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s ease-in-out;
    margin:5px;
  }
 
  .card:hover {
    cursor: pointer;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.4);
    scale: 1.1;
  }

  button:hover{
    scale: 1.1;
    opacity: 0.8;
  }


tbody tr:nth-child(){
    background-color: #fff;
    cursor: pointer;
    text-align: right;
}

/* ทดสอบ */

.percent-number-pretty {

    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-transform: uppercase;
    background-color: #fff;
    color:#000;
    border-radius:15px;
    /* box-shadow: 0 0 10px #ccc; */
    margin-bottom: 1.5rem;
}

.color-ruts {
  color:#00154b;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}


/* สลับ column เมื่อดูจากมือถือ */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }

  .column-1 {
    order: 2; /* Change order for Column 1 on smaller screens */
    /* Your styles for Column 1 on mobile screens */
  }

  .column-2 {
    order: 1; /* Change order for Column 2 on smaller screens */
    /* Your styles for Column 2 on mobile screens */
  }
}

