.special-column {
    width:450px;
}

@media screen and (max-width: 768px) {
    .special-column {
        width:100%;
    }
    
}

@media screen and (max-width: 1194px) {
    .special-column {
        width:100%;
    }
    
}